@charset "UTF-8";

#caja .botones {
	list-style:none;
	width:80%;
	margin: 0px auto;
	text-align:center;
	padding:10px;
}
#caja .controles {
	list-style:none;
	padding:10px;
	width:80%;
	margin: 0px auto;
	border:1px solid silver;
	border-radius:10px;
	text-align:center;
}
#caja .botones li {
	
	display:inline-block;
	padding:5px;
	margin: 5px auto;
	border:1px solid silver;
	border-radius:10px;
}
#caja .botones li  img{
	width:80px;
}